#contribute {
  background-color: var(--color-light);

  @media (min-width: 769px) {
    .container {
      margin-left: 3rem;
      padding-left: 0;
      padding-bottom: 0;
  
      h2 {
        align-self: flex-start;
        padding: 0;
      }
    }
  }
}