.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;

  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-light);

  ul {
    a.link-twittercontact, a.link-github, a.link-rss, a.link-support {
      border-top-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
